.infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2979FF;
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 100%;
  }
  
  .leftInnerContainer {
    /* flex: 0.5; */
    display: flex!important;
    /* align-items: center; */
    /* margin-left: 5%; */
    color: white;
  }
  
  .rightInnerContainer {
    /* display: flex; */
    /* flex: 0.5; */
    /* justify-content: flex-end; */
    text-align:right;
    margin-right: 1%;
  }
  
  .onlineIcon {
    margin-right: 5%;
    width:160%;
  }

  /* .closeIcon{
      width:30%;
  } */

  @media (min-width: 900px) and (max-width: 1024px) {
    /* .closeIcon{
      width:20%;
    } */
    .onlineIcon {
      width:150%;
    }
  }